<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- Note:  A "Server" is not itself a "Container", so you may not
    define subcomponents such as "Valves" at this level.
    Documentation at /docs/config/server.html
-->
<Server port="8015" shutdown="SHUTDOWN">
    <Listener className="org.apache.tomee.catalina.ServerListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JasperListener" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
    </GlobalNamingResources>
    
    <Service name="Catalina">

        <Connector port="10030" protocol="AJP/1.3" redirectPort="-1"/>
        <Connector port="8081" protocol="HTTP/1.1"
                 connectionTimeout="20000"
                 redirectPort="8443" />
        <Engine name="Catalina" defaultHost="localhost" jvmRoute="showcase_node1">
        <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"/>
          <!--  <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster" channelSendOptions="8">
                <Manager className="org.apache.catalina.ha.session.DeltaManager"

                       expireSessionsOnShutdown="false"

                       notifyListenersOnReplication="true"/>

 

                <Channel className="org.apache.catalina.tribes.group.GroupChannel">

                    <Membership className="org.apache.catalina.tribes.membership.McastService"

            address="228.0.0.4"

            port="45564" frequency="500"

            dropTime="3000"/>

                    <Sender className="org.apache.catalina.tribes.transport.ReplicationTransmitter">

                        <Transport className="org.apache.catalina.tribes.transport.nio.PooledParallelSender"/>

                    </Sender>

                    <Receiver className="org.apache.catalina.tribes.transport.nio.NioReceiver" address="auto" port="4000" autoBind="100" 
                              selectorTimeout="5000" maxThreads="6"/>

                    <Interceptor className="org.apache.catalina.tribes.group.interceptors.TcpFailureDetector"/>

                    <Interceptor className="org.apache.catalina.tribes.group.interceptors.MessageDispatch15Interceptor"/>

                </Channel>

                <Valve className="org.apache.catalina.ha.tcp.ReplicationValve" filter=""/>

                <Valve className="org.apache.catalina.ha.session.JvmRouteBinderValve"/>

                <ClusterListener className="org.apache.catalina.ha.session.JvmRouteSessionIDBinderListener"/>

                <ClusterListener className="org.apache.catalina.ha.session.ClusterSessionListener"/>
            </Cluster>-->


            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

            </Host>
        </Engine>
    </Service>
</Server>
